<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jsEmitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <jsEmitter.Properties.Settings>
            <setting name="CSDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="JSDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CS" serializeAs="String">
                <value />
            </setting>
            <setting name="JS" serializeAs="String">
                <value />
            </setting>
        </jsEmitter.Properties.Settings>
    </userSettings>
</configuration>